
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 7.5px;
    text-align: left;
    border: 1px solid #dee2e6;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }